{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block head-extra %}
<style>
/* Home Page sytling */
.jasgrid{padding: 12px 0;}
.box-item {
    float: left;
    opacity: 1;
    overflow: hidden;
    position: relative;
}

.box-item .box-post span.meta span {
    margin-right: 15px;
}

.box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-item .box-post h1..post-title {
   font-size:10pt;
}
/* Home Page sytling */
</style>
{% endblock head-extra %}

{% block content %}
      <div class="row">
          <div class="col-md-8">
              {% if page.news_section %}
              <h2>{{ page.news_section_title }}</h2>
                      {% for childpage in page.news_section.specific.children|slice:"6" %}
                          <div class="col-md-12 jasgrid">
                              <div class="box-item">
                                  <div class="box-post">
                                      <h1 class="post-title">
                                          <a href="{{childpage.url}}">
                                              {{ childpage.title }}
                                          </a>
                                      </h1>
                                      {% if childpage.date_published %}
                                      <span class="meta">
                                          <span><i class="fa fa-clock-o"></i> {{ childpage.date_published }}</span>
                                      </span>
                                      {% endif %}
                                  </div>
                                  {% image childpage.feed_image fill-1200x300 %}
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              {% endif %}
      </div>
  </div>
{% endblock %}
