{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container">
  {% for team in teams %}
  <div class="row">
    <table border="2" width="100%">
      <tbody>
        <tr>
          <th colspan="5">{{team.team_name}}</th>
        </tr>
        <tr>
          <td colspan="2" rowspan="3">{{team.team_logo}}</td>
          <th colspan="3">Staff</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Vorname</th>
          <th>Position</th>
        </tr>
        <tr>
          <td>{{team.staff.name}}</td>
          <td>{{team.staff.vorname}}</td>
          <td>{{team.staff.position}}</td>
        </tr>
        <tr>
          <th colspan="5">Rooster</th>
        </tr>
        <tr>
          <th>Nr</th>
          <th>Name</th>
          <th>Vorname</th>
          <th>Position</th>
          <th>Jahrgang</th>
        </tr>
        <tr>
          <td>{{team.spieler.nummer}}</td>
          <td>{{team.spieler.name}}</td>
          <td>{{team.spieler.vorname}}</td>
          <td>{{team.spieler.position}}</td>
          <td>{{team.spieler.jahrgang}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>

{% endblock %}
