{% extends "base.html" %}
{% load wagtailcore_tags positions_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <table border="2" width="100%">
      <tbody>
        <tr>
          <th colspan="5">{{page.title}}</th>
        </tr>
        <tr>
          <td colspan="2" rowspan="3">{% image page.team_logo fill-320x240 class="card-img-top rounded" %}</td>
          <th colspan="3">Staff</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Vorname</th>
          <th>Position</th>
        </tr>
        {% for block in page.staff %}
          {% for val in block.value %}
          <tr>
            <td>{{val.name}}</td>
            <td>{{val.vorname}}</td>
            {% get_position_display_name val.position as label %}
            <td>{{ label }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
        <tr>
          <th colspan="5">Rooster</th>
        </tr>
        <tr>
          <th>Nr</th>
          <th>Name</th>
          <th>Vorname</th>
          <th>Position</th>
          <th>Jahrgang</th>
        </tr>
        {% for block in page.spieler %}
          {% for val in block.value %}
          <tr>
            <td>{{val.nummer}}</td>
            <td>{{val.name}}</td>
            <td>{{val.vorname}}</td>
            {% get_position_sp_display_name val.position as label %}
            <td>{{label}}</td>
            <td>{{val.jahrgang}}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
