{% load static wagtailcore_tags %}

<div class="header-section">
  <div class="top-logo">
    <h1><a href="{% slugurl 'home' %}"><img src="{% static 'images/logo.jpg' %}" alt="Treichle Cup" style="width: 40px"></a><a href="{% slugurl 'home' %}">Treichle Cup</a></h1>
  </div>
  <div class="top-search">
    <form>
      <input type="text" placeholder="Search" required="">
    </form>
  </div>
  <div class="clock-bottom">
    <div class="clock">
      <div id="Date"></div>
      <ul>
        <li id="hours"> </li>
        <li id="point">:</li>
        <li id="min"> </li>
        <li id="point">:</li>
        <li id="sec"> </li>
      </ul>
    </div>
  </div>
</div>
